body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #2d2d2d;
    line-height: 1.8;
    text-align: center;
    font-family: 'Inconsolata';
}
header {
    color: #f4f4f4;
    padding: 30px 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.title {
    color: black;
}
nav {
    background-color: #555555;
    padding: 15px 0;
    text-align: center;
    font-size: 3rem;
    justify-content: space-between;
}
nav a {
    color: #f4f4f4;
    margin: 0 20px;
    text-decoration: none;
    
}
nav a:hover {
    color: #ff6f61;
}
.container {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
section {
    margin-bottom: 50px;
}
section h2 {
    font-size: 1.8rem;
    color: #333333;
    border-bottom: 2px solid #555555;
    padding-bottom: 10px;
    margin-bottom: 25px;
} #backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff6b6b;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}
#backToTop img {
    width: 24px; /* גודל התמונה */
    height: 24px;
}
#backToTop:hover {
    background-color: #ff4d4d;
}

.footer {
  background-color: #f1cb95;
  color: #000000;
  text-align: center;
  padding: 20px 10px;
  width: 100%;
  position: static; 
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

.footer a {
  color: #333;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-links {
  margin: 10px 0;
}

.footer-contact p {
  margin: 5px 0;
  font-size: 14px;
}

.maya {
    font-style: oblique;
}

.table {
    border-collapse: collapse;
    width: 60%;
    margin: 20px auto;
    direction: rtl;
}

th, td {
    border: 1px solid #333;
    padding: 8px 12px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
h2 {
    text-align: center;
}